body{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: max-content;
}
.menu {
    width: 200px;
    height: 80px;
    background-color: rebeccapurple;
    margin-top: 20px;
    color: white;
    position: relative;
    right: 150px;
    cursor: pointer;
    border-radius: 0px 8px 8px 0px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.menu:hover {
    right: 0;
    transition-duration: 3s;
    transition-property: right;
    cursor: pointer;
    border-radius: 0px 8px 8px 0px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.text {
    height: max-content;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 30px;
    bottom: 0;
    margin: auto;
}

.icon {
    height: max-content;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 20px;

}